/* styles.css */

.slider-size {
    width: 100%;
    height: auto; /* Adjust as needed */
  }
  
  .card-img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem;
  }
  
  .card-title, .card-text, .btn {
    margin: 0;
  }
  
  .card-title h3, .card-text h1 {
    font-size: clamp(1.5rem, 4vw, 3rem); /* Responsive font size */
  }
  
  .btn {
    font-size: clamp(0.8rem, 2vw, 1rem); /* Responsive button text */
  }
  
  /* Adjust card overlay position for small screens */
  @media (max-width: 576px) {
    .card-img-overlay {
      top: 70%;
    }
  }
  